{
	"extends": [
		"standard",
		"plugin:import/errors"
	],
	"parser": "babel-eslint",
	"globals": {
		"document": true,
		"window": true,
	},
	"plugins": [
		"import"
	],
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"key-spacing": [2, { "mode": "minimum" }],
		"no-path-concat": 0,
		"no-tabs": 0,
		"no-var": 2,
		"space-before-function-paren": 0,
		"spaced-comment": 0,
	},
}
