{
	"extends": [
		"standard"
	],
	"parser": "babel-eslint",
	"globals": {
		"document": true,
		"window": true,
	},
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"key-spacing": [2, { "mode": "minimum" }],
		"no-tabs": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"space-before-function-paren": 0,
		"spaced-comment": 0,
	},
}
